body {
  margin: 0;
  background: #111;
  color: #eee;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#root {
}

#viewer-canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#pane {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 360px;
}